{% extends 'inlayout.html' %}
{% block body %}
	<div id="stage" style="	background:url('http://goldwallpapers.com/uploads/posts/wallpaper-of-paintings/wallpaper_of_paintings_007.jpg')center center no-repeat;">
		<div id="stage-caption">
			<h1 class="display-3">ARTSHOP.<br> it's just GREAT!</h1>
			<p>Make the most of Art</p>
		</div>
	</div>
	<br>
	<div class="container">
		<br>
		<div style="text-align: center; padding: 4rem; background-color: darkblue; color: white;">
			<h2>The Concept</h2>
			<p>In this website, every artist that wants to sell his arworks, can easly sign up and post his art. <br>
			Then, peaple that like art and saw an artwork that they liked can contact the artist and buy it. <br> 
			<p>This gives an opertunity and a start point for young or unknown artists.</p>
		</div>
		<br>
		<div style="text-align: center; padding: 4rem;">
			<h2>About Me</h2>
			<p>My name is Uria Cohen and I'm 17 years old.
			<br>I joint the MEET program, currently in the second year of class 2017.
			<br> This website is my MEET personal project.
			<br>I created it because I study at Harduf Waldorf School, that has an artistic vibe.</p>
		</div>
		<br>
		<div class="container-fluid" style="text-align: center; padding: 4rem;">
			<p>Delete acount :</p>
			<a href=" {{url_for('deleteacount')}} ">
				<button class="btn-danger btn btn-md">Delete</button>
			</a>
		</div>
	</div>
		
{% endblock %}