{% extends "layout.html" %}
{% block body %}
	<div id="stage" style="	background:url('https://hdfreefoto.files.wordpress.com/2014/09/paints-and-brushes.jpg')center center no-repeat;">
		<div id="stage-caption">
			<h1 class="display-3">ARTSHOP.<br> it's just GREAT!</h1>
			<p>Make the most of Art</p>
			<a href="{{ url_for('sign_up') }}" class="btn btn-lg btn-warning">Sign Up NOW!</a>
		</div>
	</div>
	<br>
	<div class="container">
		<div style="text-align: center; padding: 4rem;">
			<h2>About</h2>
			<p>This is ARTSHOP, and i created it because i wanted to give young artists a beggining</p>
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
		<br>
		<div style="text-align: center; padding: 4rem;; background-color: lightblue;">
			<h2>The Concept</h2>
			<p>bla bla bla</p>
			<span class="glyphicon glyphicon-picture"></span>
		</div>
		<br>
		<div style="text-align: center; padding: 4rem;">
			<h2>The Creator</h2>
			<p>iiimmmm blablablablalb and mor blablalb</p>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<br>
	</div>
{% endblock %}