{% extends 'inlayout.html' %}
{% block body %}

	<div class="container">
		<div class="text-center">
		<a href="{{ url_for('addartwork') }}"><button type="submit" class="btn btn-success"> Add an art work</button></a>
		</div>		
		<div class="card-columns">
			{% for artwork in artworks %}
				<div class="card">
					<img class="card-img-top img-fluid" src="{{ artwork.photo }}" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">{{ artwork.name }}</h4>
						<h2>Made by {{ artwork.artist.fullname }}</h2>
						<p class="card-text">This art work is {{ artwork.height }} by {{ artwork.width }} . It is made from {{ artwork.material }}</p>
						<p>Price: {{ artwork.price }} $</p>
						<a href=" {{ url_for('deleteartwork',id = artwork.id )}} "><button class="btn btn-danger btn-sm">Delete</button></a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}