<!DOCTYPE html>
<html lang="en" >
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<!-- <strong>Title</strong> --> {{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</head>
<body>
		<nav class="navbar navbar-toggleable-md navbar-light bg-black navbar-fixed-top" >
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#NAVI">
			<span class="navbar-toggler-icon"></span>
			</button>
			<h2 id="logo">ARTSHOP</h2>
			<div class="collapse navbar-collapse " id="NAVI">
				<ul class="nav navbar-nav pl-5 mr-auto" role="menu">
					<li class="nav-item ">
						<a class="nav-link" href="{{ url_for('landing') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
					</li>
				</ul>
			</div>
		</nav>
	<div id="stage" style="	background:url('https://upload.wikimedia.org/wikipedia/commons/7/78/Claude_Monet_-_The_Magpie_-_Google_Art_Project.jpg') center center no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col">
					<div id="stage-caption">
						<h1 class="display-3">Sign up now<br> it's Free!</h1>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-block">
							<div class="form-header">
								<h3><i class="fa fa-user"></i> Register:</h3>
							</div>
							<form method="post" action="{{ url_for('sign_up') }}">
								<div class="md-form">
									<input type="text" name="fullname" class="form-control" placeholder="Full name" required>
								</div>
								<div class="md-form">
									<input type="text" name="username" class="form-control" placeholder="User name" required>
								</div>
								<div class="md-form">
									<input type="text" name="email" class="form-control" placeholder="Email" required>
								</div>
								<div class="md-form">
									<input type="password" name="password" class="form-control" placeholder="Password" required>
								</div>
								<div class="md-form"><h4>Are You an artist ? :</h4></div>
								<div class="md-form">
									<label><input name="artist" type="radio" id="yes" value="1">Yep!</label>
								</div>
								<br>
								<div class="md-form">
									<label><input name="artist" type="radio" id="no" value="0">Nope.</label>
								</div>
								<br><br>
								<div class="collapse">
									<div class="md-form">
										<input type="text" name="phone" class="form-control" placeholder="Phone number">
									</div>
									<div class="md-form">
										<input type="text" name="address" class="form-control" placeholder="Address">
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-indigo">Sign up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container" style="text-align: center;">
			<h5 style="color:#e8e5e3;">ARTSHOP 2017</h5>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#yes").click(function(){
			$(".collapse").collapse('show');
			});
		$("#no").click(function(){
			$(".collapse").collapse('hide');
			});
	});
	</script>
</body>